.tool-card {
    padding: 20px; /* Add padding for better spacing */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items */
    text-align: center; /* Center text */
  }
  
  .tool-card .MuiSvgIcon-root {
    margin-bottom: 15px; /* Space between icon and title */
  }
  